{% extends 'base.html.twig' %}

{% block title %}logs{% endblock %}


{% block body %}

<div class="container mt-5 mb-5"> 
    <h2>
     <center> Welcome To Logs Page </center>
    </h2> 
<p align="right">
    <a class="btn btn-outline-info "href="{{ path('main')}}"> Back </a>
</p>
</div>
<div class="container">

    <table id="example" class="table" style="width:100%">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Action</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
            {% for logs in Logs %}
          <tr>
            <th scope="row">{{logs.id}}</th>
            <td>{{logs.action}}</td>
            <td>{{logs.creatAt}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>

      {# <ul>
    {% for logs in Logs %}
    <li>{{logs.id}} -------- {{logs.action}}</li>
    {% endfor %}
    </ul> #}
</div>



<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#example').DataTable();
});
</script>
{% endblock %}
